.table {
    vertical-align: middle;

    thead th {
        background-color: #f9fbfd;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: .08em;
        color: #95aac9;
        border-bottom-width: 1px;
    }
}

.table-sm,
.table thead th {
    font-size: 0.8125rem;
}

.table-sm thead th {
    font-size: 0.625rem;
}

.table-nowrap {

    td,
    th {
        white-space: nowrap;
    }
}

.table [data-sort]:after {
    content: url("data:image/svg+xml;utf8,<svg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M3 0L6 4H0L3 0ZM3 10L0 6H6L3 10Z' fill='%2395AAC9'/></svg>");
    margin-left: 0.25rem;
}

.table-checkbox {
    min-height: 0;

    .custom-control-label {

        &:after,
        &:before {
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.dropdown-ellipses {
    font-size: 1.0625rem;
    color: #d2ddec;

    &:after {
        display: none;
    }
}

.form-control-flush {
    padding-left: 0;
    padding-right: 0;
    border-color: transparent !important;
    background-color: transparent !important;
    resize: none;
}

[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

@keyframes d {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.dropdown-toggle:after {
    width: auto;
    height: auto;
    border: none !important;
    vertical-align: middle;
    font-family: Feather;
    content: "";
}

.dropdown-item.dropdown-toggle {
    display: flex;
    justify-content: space-between;
}

.dropdown-menu {
    animation: d 0.15s;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

[type=number] {

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        height: auto;
    }
}

[type=search] {
    outline-offset: -2px;
    -webkit-appearance: none;

    &::-webkit-search-decoration {
        -webkit-appearance: none;
    }
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

[hidden] {
    display: none !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.col,
.col-auto {
    position: relative;
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.table {
    width: 100%;
    // margin-bottom: 1.5rem;
    color: #12263f;

    td,
    th {
        padding: .9375rem;
        vertical-align: middle;
        border-top: 1px solid #edf2f9;
    }

    thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #edf2f9;
    }

    tbody+tbody {
        border-top: 2px solid #edf2f9;
    }
}

.table-sm {

    td,
    th {
        padding: 0.9375rem;
    }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}