.badge {
    vertical-align: middle;
}

.btn .badge {
    top: -2px;
}

.badge-soft-success {
    color: #00d97e;
    background-color: #ccf7e5;

    &[href] {

        &:focus,
        &:hover {
            color: #00d97e;
            text-decoration: none;
            background-color: #b6f4da;
        }
    }
}

.btn-white {
    border-color: #e3ebf6;

    &:focus,
    &:hover {
        background-color: #f9fbfd;
        border-color: #d2ddec;
    }
}

.card {
    border-color: #edf2f9;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.18);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.card-header {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    min-height: 3.75rem;
    padding-top: .5rem;
    padding-bottom: 0.5rem;

    >* {
        flex: 1;
    }
}

.card-table {
    margin-bottom: 0;

    thead th {
        border-top-width: 0;
    }

    tbody td:first-child,
    thead th:first-child {
        padding-left: 1.5rem !important;
    }

    tbody td:last-child,
    thead th:last-child {
        padding-right: 1.5rem !important;
    }
}

.card> {
    .card-table:first-child> {
        tbody:first-child>tr:first-child> {

            td:first-child,
            th:first-child {
                border-top-left-radius: 0.5rem;
            }
        }

        thead:first-child>tr:first-child> {

            td:first-child,
            th:first-child {
                border-top-left-radius: 0.5rem;
            }
        }
    }

    .table-responsive:first-child>.card-table> {
        tbody:first-child>tr:first-child> {

            td:first-child,
            th:first-child {
                border-top-left-radius: 0.5rem;
            }
        }

        thead:first-child>tr:first-child> {

            td:first-child,
            th:first-child {
                border-top-left-radius: 0.5rem;
            }
        }
    }

    .card-table:first-child> {
        tbody:first-child>tr:first-child> {

            td:last-child,
            th:last-child {
                border-top-right-radius: 0.5rem;
            }
        }

        thead:first-child>tr:first-child> {

            td:last-child,
            th:last-child {
                border-top-right-radius: 0.5rem;
            }
        }
    }

    .table-responsive:first-child>.card-table> {
        tbody:first-child>tr:first-child> {

            td:last-child,
            th:last-child {
                border-top-right-radius: 0.5rem;
            }
        }

        thead:first-child>tr:first-child> {

            td:last-child,
            th:last-child {
                border-top-right-radius: 0.5rem;
            }
        }
    }
}