{% macro table_row(user) %}

<tr>
    <td>
        <div class="avatar avatar-xs d-inline-block mr-2">
            <img src="{{ user.avatar | safe }}" class="avatar-img rounded-circle">
        </div>
    </td>
    <td class="users-id">{{ user.id }}</td>
    <td class="users-email">{{ user.email }}</td>
    <td class="users-firstname">{{ user.firstName }}</td>
    <td class="users-lastname">{{ user.lastName }}</td>
</tr>

{% endmacro %}

{% macro table_paging(pages) %}

<nav>
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="{{ url_for('users', page=pages.prev_page()) }}">
                <i class="fe fe-arrow-left"></i>
            </a>
        </li>
        <li class="page-item"><a class="page-link">{{ pages.page }}</a></li>
        <li class="page-item">
            <a class="page-link" href="{{ url_for('users', page=pages.next_page()) }}">
                <i class="fe fe-arrow-right"></i>
            </a>
        </li>
    </ul>
</nav>

{% endmacro %}