<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/feathericon/css/feathericon.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/list.min.js') }}"></script>
    <title>REQRES User List</title>
    {% endblock %}
</head>

<body>
    <div class="card" id="user-list">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">
                    <form class="row align-items-center">
                        <div class="col-auto pr-0">
                            <span class="fe fe-search text-muted"></span>
                        </div>
                        <div class="col">
                            <input type="search" class="form-control form-control-flush search" placeholder="Search">
                        </div>
                    </form>
                </div>
                <div class="col-auto">
                    {% block paging %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-sm table-nowrap card-table">
                <thead>
                    <tr>
                        <th></th>
                        <th><a href="#" class="text-muted sort" data-sort="users-id">id</a></th>
                        <th><a href="#" class="text-muted sort" data-sort="users-email">email</a></th>
                        <th><a href="#" class="text-muted sort" data-sort="users-firstname">First Name</a></th>
                        <th><a href="#" class="text-muted sort" data-sort="users-lastname">Last Name</a></th>
                    </tr>
                </thead>
                {% block table_body %}
                {% endblock %}
            </table>
        </div>
    </div>

    <script>
        var options = {
            valueNames: ["users-id", "users-email", "users-firstname", "users-lastname"]
        };

        var userList = new List('user-list', options);
    </script>

</body>

</html>