.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1rem + 2px);
    padding: .5rem .75rem;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #12263f;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d2ddec;
    border-radius: .375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &::-ms-expand {
        background-color: transparent;
        border: 0;
    }

    &:focus {
        color: #12263f;
        background-color: #fff;
        border-color: #2c7be5;
        outline: 0;
        box-shadow: transparent;
    }

    &:-ms-input-placeholder,
    &::-ms-input-placeholder,
    &::placeholder {
        color: #b1c2d9;
        opacity: 1;
    }

    &:disabled,
    &[readonly] {
        background-color: #fff;
        opacity: 1;
    }
}

@media (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none;
    }
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #12263f;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    font-size: .9375rem;
    line-height: 1.5;
    border-radius: .375rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover {
        color: #12263f;
        text-decoration: none;
    }

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.15rem rgba(44, 123, 229, 0.25);
    }

    &:disabled {
        opacity: 0.65;
    }
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.btn-white {
    color: #283e59;
    background-color: #fff;
    border-color: #fff;

    &:hover {
        color: #283e59;
        background-color: #ececec;
        border-color: #e6e6e6;
    }

    &:focus {
        box-shadow: 0 0 0 0.15rem rgba(223, 226, 230, 0.5);
    }

    &:disabled {
        color: #283e59;
        background-color: #fff;
        border-color: #fff;
    }

    &:not(:disabled):not(.disabled):active {
        color: #283e59;
        background-color: #e6e6e6;
        border-color: #dfdfdf;

        &:focus {
            box-shadow: 0 0 0 0.15rem rgba(223, 226, 230, 0.5);
        }
    }
}

.btn-sm {
    padding: .125rem .5rem;
    font-size: .8125rem;
    line-height: 1.75;
    border-radius: 0.25rem;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    white-space: nowrap;

    &:after {
        display: inline-block;
        margin-left: .2125em;
        vertical-align: .2125em;
        content: "";
        border-top: .25em solid;
        border-right: .25em solid transparent;
        border-bottom: 0;
        border-left: 0.25em solid transparent;
    }

    &:empty:after {
        margin-left: 0;
    }
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 0;
    font-size: .9375rem;
    color: #12263f;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(18, 38, 63, 0.1);
    border-radius: 0.375rem;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-menu {

    &[x-placement^=bottom],
    &[x-placement^=left],
    &[x-placement^=right],
    &[x-placement^=top] {
        right: auto;
        bottom: auto;
    }
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .375rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #6e84a3;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;

    &:active,
    &:focus,
    &:hover {
        color: #12263f;
        text-decoration: none;
        background-color: transparent;
    }

    &:disabled {
        color: #95aac9;
        pointer-events: none;
        background-color: transparent;
    }
}

.custom-control {
    position: relative;
    display: block;
    min-height: 1.40625rem;
    padding-left: 1.5rem;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked~.custom-control-label:before {
        color: #fff;
        border-color: #2c7be5;
        background-color: #2c7be5;
    }

    &:focus {
        ~.custom-control-label:before {
            box-shadow: transparent;
        }

        &:not(:checked)~.custom-control-label:before {
            border-color: #2c7be5;
        }
    }

    &:not(:disabled):active~.custom-control-label:before {
        color: #fff;
        background-color: #cbdef9;
        border-color: #cbdef9;
    }

    &:disabled~.custom-control-label {
        color: #95aac9;

        &:before {
            background-color: #fff;
        }
    }
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;

    &:before {
        pointer-events: none;
        background-color: #e3ebf6;
        border: 0 solid #b1c2d9;
    }

    &:after,
    &:before {
        position: absolute;
        top: .20313rem;
        left: -1.5rem;
        display: block;
        width: 1rem;
        height: 1rem;
        content: "";
    }

    &:after {
        background: no-repeat (50% / 50%) 50%;
    }
}

.custom-checkbox {
    .custom-control-label:before {
        border-radius: 0.375rem;
    }

    .custom-control-input {
        &:checked~.custom-control-label:after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23FFFFFF' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }

        &:indeterminate~.custom-control-label {
            &:before {
                border-color: #2c7be5;
                background-color: #2c7be5;
            }

            &:after {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%23FFFFFF' d='M0 2h4'/%3e%3c/svg%3e");
            }
        }

        &:disabled {

            &:checked~.custom-control-label:before,
            &:indeterminate~.custom-control-label:before {
                background-color: rgba(44, 123, 229, 0.5);
            }
        }
    }
}

.custom-control-label:before {
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .custom-control-label:before {
        transition: none;
    }
}

.card {
    // position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #edf2f9;
    border-radius: 0.5rem;
}

.card-header {
    padding: 1rem 1.5rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid #edf2f9;

    &:first-child {
        border-radius: calc(.5rem - 1px) calc(.5rem - 1px) 0 0;
    }
}

.badge {
    display: inline-block;
    padding: .33em .5em;
    font-size: 75%;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .375rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .badge {
        transition: none;
    }
}

a.badge {

    &:focus,
    &:hover {
        text-decoration: none;
    }
}

.badge:empty {
    display: none;
}

.btn .badge {
    position: relative;
    top: -1px;
}

@keyframes a {
    0% {
        background-position: 1rem 0;
    }

    to {
        background-position: 0 0;
    }
}


@keyframes b {
    to {
        transform: rotate(1turn);
    }
}


@keyframes c {
    0% {
        transform: scale(0);
    }

    50% {
        opacity: 1;
    }
}

*,
:after,
:before {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(18, 38, 63, 0);
}

figcaption,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    height: 100%;
    font-family: Cerebri Sans, sans-serif;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #12263f;
    text-align: left;
    background-color: #f9fbfd;
}

[tabindex="-1"]:focus {
    outline: 0 !important;
}

strong {
    font-weight: bolder;
}

a {
    color: #2c7be5;
    background-color: transparent;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: #1657af;
    }

    &:not([href]):not([tabindex]) {
        color: inherit;
        text-decoration: none;

        &:focus,
        &:hover {
            color: inherit;
            text-decoration: none;
        }

        &:focus {
            outline: 0;
        }
    }
}

table {
    border-collapse: collapse;
}

caption {
    padding-top: .9375rem;
    padding-bottom: .9375rem;
    color: #95aac9;
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: inherit;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

button {
    border-radius: 0;

    &:focus {
        outline: 1px dotted;
        outline: 5px auto -webkit-focus-ring-color;
    }

    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button {
    text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input {

    &[type=checkbox],
    &[type=radio] {
        box-sizing: border-box;
        padding: 0;
    }

    &[type=date],
    &[type=datetime-local],
    &[type=month],
    &[type=time] {
        -webkit-appearance: listbox;
    }
}
