@font-face {
    font-family: Cerebri Sans;
    src: url(../fonts/cerebrisans/cerebrisans-regular.eot);
    src: url(../fonts/cerebrisans/cerebrisans-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/cerebrisans/cerebrisans-regular.woff) format("woff"), url(../fonts/cerebrisans/cerebrisans-regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: Cerebri Sans;
    src: url(../fonts/cerebrisans/cerebrisans-medium.eot);
    src: url(../fonts/cerebrisans/cerebrisans-medium.eot?#iefix) format("embedded-opentype"), url(../fonts/cerebrisans/cerebrisans-medium.woff) format("woff"), url(../fonts/cerebrisans/cerebrisans-medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: Cerebri Sans;
    src: url(../fonts/cerebrisans/cerebrisans-semibold.eot);
    src: url(../fonts/cerebrisans/cerebrisans-semibold.eot?#iefix) format("embedded-opentype"), url(../fonts/cerebrisans/cerebrisans-semibold.woff) format("woff"), url(../fonts/cerebrisans/cerebrisans-semibold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

.text-right {
    text-align: right !important;
}

.text-muted {
    color: #95aac9 !important;
}
