:root {
    --blue: #2c7be5;
    --indigo: #727cf5;
    --purple: #6b5eae;
    --pink: #ff679b;
    --red: #e63757;
    --orange: #fd7e14;
    --yellow: #f6c343;
    --green: #00d97e;
    --teal: #02a8b5;
    --cyan: #39afd1;
    --gray: #95aac9;
    --gray-dark: #3b506c;
    --primary: #2c7be5;
    --secondary: #6e84a3;
    --success: #00d97e;
    --info: #39afd1;
    --warning: #f6c343;
    --danger: #e63757;
    --light: #edf2f9;
    --dark: #12263f;
    --white: #fff;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Cerebri Sans", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}




.align-items-center {
    align-items: center !important;
}

.pr-0 {
    padding-right: 0 !important;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}


strong {
    font-weight: 600;
}

a:focus,
button:focus {
    outline: none !important;
}


.fe {
    line-height: inherit;
}

[data-dz-size] strong {
    font-weight: 400;
}


