.avatar-xs {
    width: 1.625rem;
    height: 1.625rem;
    font-size: .54167rem;
}

.avatar {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
}

.mr-2,
.mx-2 {
    margin-right: 0.375rem !important;
}

.d-inline-block {
    display: inline-block !important;
}

.avatar-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.rounded-circle {
    border-radius: 50% !important;
}

img,
svg {
    vertical-align: middle;
}

img {
    border-style: none;
}