.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .375rem;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .375rem;
}

.page-item {
    &:first-child .page-link {
        margin-left: 0;
        border-top-left-radius: .375rem;
        border-bottom-left-radius: .375rem;
    }

    &:last-child .page-link {
        border-top-right-radius: .375rem;
        border-bottom-right-radius: .375rem;
    }
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #12263f;
    background-color: #fff;
    border: 1px solid #e3ebf6;
}